# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/

# Env files
.env
.env.*

# Firebase
.firebase/

# Logs
*.log

# OS/Editor
.DS_Store
.vscode/
.idx/
# Build artifacts
assets/
*.tsbuildinfo
